@import './icons/iconfont.css'

html
    font-family 'Audiowide', sans-serif
    color $dg2

*
    box-sizing border-box
    padding 0
    margin 0

body, html
    height 100%
    background-color #fff
    -webkit-tap-highlight-color transparent

ul, ol, li
    list-style none

.ellipsis
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

.global-padding
    padding 10px 15px

.grabbing
    cursor grabbing

.disabled
    cursor not-allowed!important